body{
    background-color: #242424;
}

.time{
    background-color: #333333;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 16%;


    
}
.debug{
    color: white;
    position:fixed;
    z-index:9999;
    background-color: gray;
}
.label{
    display: block;
    position: fixed;
    color: white;
    bottom:2%;
}
.labels {
    width: 1px; /* Or zero, or something very small */
    margin: auto;
    overflow: visible;
    background: red; /* A color just for debug */
}